<div style="display:float">
  <h1 style="margin-top: 36px; font-size: 32px; float:left">Pandas: Extracting Data from a Table</h1>
    <img style="vertical-align:middle; float:right" src="http://gntlearning.com/wp-content/uploads/2021/05/Small_Logo-278x64.jpg" width=250px>
</div>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("F.csv")
display(df)

           Date   Open   High    Low   Close  Adj Close     Volume
0    2020-05-13   5.00   5.01   4.66   4.720      4.720  100192300
1    2020-05-14   4.64   4.92   4.52   4.890      4.890  108061100
2    2020-05-15   4.80   4.94   4.75   4.900      4.900   80544700
3    2020-05-18   5.12   5.33   5.12   5.310      5.310  136157700
4    2020-05-19   5.27   5.45   5.15   5.300      5.300   94836300
..          ...    ...    ...    ...     ...        ...        ...
248  2021-05-07  11.65  11.83  11.52  11.820     11.820   41478500
249  2021-05-10  11.78  11.93  11.70  11.710     11.710   51703500
250  2021-05-11  11.45  11.76  11.42  11.580     11.580   56882600
251  2021-05-12  11.54  11.68  11.28  11.330     11.330   55377900
252  2021-05-13  11.36  11.68  11.35  11.465     11.465   29180529

[253 rows x 7 columns]

In [3]:
df = df.set_index('Date')
display(df)
df.info()

             Open   High    Low   Close  Adj Close     Volume
Date
2020-05-13   5.00   5.01   4.66   4.720      4.720  100192300
2020-05-14   4.64   4.92   4.52   4.890      4.890  108061100
2020-05-15   4.80   4.94   4.75   4.900      4.900   80544700
2020-05-18   5.12   5.33   5.12   5.310      5.310  136157700
2020-05-19   5.27   5.45   5.15   5.300      5.300   94836300
...           ...    ...    ...     ...        ...        ...
2021-05-07  11.65  11.83  11.52  11.820     11.820   41478500
2021-05-10  11.78  11.93  11.70  11.710     11.710   51703500
2021-05-11  11.45  11.76  11.42  11.580     11.580   56882600
2021-05-12  11.54  11.68  11.28  11.330     11.330   55377900
2021-05-13  11.36  11.68  11.35  11.465     11.465   29180529

[253 rows x 6 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 253 entries, 2020-05-13 to 2021-05-13
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       253 non-null    float64
 1   High       253 non-null    float64
 2   Low        253 non-null    float64
 3   Close      253 non-null    float64
 4   Adj Close  253 non-null    float64
 5   Volume     253 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8+ KB

In [4]:
df['High']

Date
2020-05-13     5.01
2020-05-14     4.92
2020-05-15     4.94
2020-05-18     5.33
2020-05-19     5.45
              ...
2021-05-07    11.83
2021-05-10    11.93
2021-05-11    11.76
2021-05-12    11.68
2021-05-13    11.68
Name: High, Length: 253, dtype: float64

In [5]:
df['High'][3]

5.33

In [6]:
df['High']['2020-05-18']

5.33

In [7]:
col = 'High'
df[col]

Date
2020-05-13     5.01
2020-05-14     4.92
2020-05-15     4.94
2020-05-18     5.33
2020-05-19     5.45
              ...
2021-05-07    11.83
2021-05-10    11.93
2021-05-11    11.76
2021-05-12    11.68
2021-05-13    11.68
Name: High, Length: 253, dtype: float64

In [8]:
cols = ['Open', 'Close']
df[cols]

             Open   Close
Date
2020-05-13   5.00   4.720
2020-05-14   4.64   4.890
2020-05-15   4.80   4.900
2020-05-18   5.12   5.310
2020-05-19   5.27   5.300
...           ...     ...
2021-05-07  11.65  11.820
2021-05-10  11.78  11.710
2021-05-11  11.45  11.580
2021-05-12  11.54  11.330
2021-05-13  11.36  11.465

[253 rows x 2 columns]

In [9]:
df[['Open', 'Close']]

             Open   Close
Date
2020-05-13   5.00   4.720
2020-05-14   4.64   4.890
2020-05-15   4.80   4.900
2020-05-18   5.12   5.310
2020-05-19   5.27   5.300
...           ...     ...
2021-05-07  11.65  11.820
2021-05-10  11.78  11.710
2021-05-11  11.45  11.580
2021-05-12  11.54  11.330
2021-05-13  11.36  11.465

[253 rows x 2 columns]

In [10]:
df[cols].loc['2020-05-15']
df.loc['2020-05-15', cols]

Open     4.8
Close    4.9
Name: 2020-05-15, dtype: float64

In [11]:
df[cols].iloc[3]

Open     5.12
Close    5.31
Name: 2020-05-18, dtype: float64

In [12]:
df.loc[['2020-05-15','2020-05-18'],['Low','High']]

             Low  High
Date
2020-05-15  4.75  4.94
2020-05-18  5.12  5.33

In [13]:
df.iloc[2,4]

4.9

In [14]:
df.iloc[:2,4]

Date
2020-05-13    4.72
2020-05-14    4.89
Name: Adj Close, dtype: float64

In [15]:
df.iloc[4,:2]

Open    5.27
High    5.45
Name: 2020-05-19, dtype: float64

In [16]:
df.iloc[:2,:2]

            Open  High
Date
2020-05-13  5.00  5.01
2020-05-14  4.64  4.92